/* // llamado a las tipografías */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* tipografías
font-family: 'Quicksand', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Lora', serif;
*/

/* paleta de colores
#F7FBFC
#D6E6F2
#B9D7EA
#769FCD */

/* RESETEO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    background-image: url("./images/fondo.png");
    z-index: 2;
    position: fixed;
}

header picture img {
    width: 13%;
    margin-left: 2%;
}

header .telefonoYNavbar .telefonosHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3%;
}

header .telefonoYNavbar .telefonosHeader div {
    width: 100%;
    margin: 1% 4% 0.5% -15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    color: white;
    font-family: "Quicksand", sans-serif;
}

header .telefonoYNavbar .telefonosHeader div p {
    display: inline-block;
    margin-left: 10%;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link:hover {
    color: #B9D7EA;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link:focus {
    color: #B9D7EA;
}

/* MAIN INDEX*/
main {
    z-index: 1;
}

main .carousel-caption {
    margin-bottom: 10%;
}

main .carousel-caption h5 {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 3rem;
    color: white;
}

main .carousel-caption h5:hover {
    color: #769FCD;
}

main .carousel-caption p {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

main .unLugarUnico {
    margin: 5% 15% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .unLugarUnico div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12%;
}

main .unLugarUnico div h2 {
    font-family: "Lora", serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 7%;
}

main .unLugarUnico div p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 7%;
}

main .unLugarUnico div .btn {
    font-family: "Quicksand", sans-serif;
    background-color: #B9D7EA;
    border: none;
    color: white;
    font-size: 1.3rem;
}

main .unLugarUnico div .btn:hover {
    background-color: #769FCD;
}

main .unLugarUnico div .btn:focus {
    box-shadow: none;
}

main .unLugarUnico picture img {
    width: 110%;
    margin-left: 12%;
}

/* FOOTER */
footer {
    background-color: #B9D7EA;
    padding: 3%;
}

footer .footer {
    display: grid;
    grid-template-areas: "contactanos redesSociales mediosDePago";
    justify-content: space-around;
}

footer .footer .contactanos {
    grid-area: contactanos;
}

footer .footer .redesSociales {
    grid-area: redesSociales;
}

footer .footer .mediosDePago {
    grid-area: mediosDePago;
}

footer .footer .mediosDePago i {
    margin: 0% 5% 0% 5%;
}

footer .footer .mediosDePago i:hover {
    color: #769FCD;
}

footer .footer .distribucionFooter h2 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 10%;
    color: white;
}

footer .footer .distribucionFooter div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

footer .footer .distribucionFooter div i {
    color: white;
}

footer .footer .distribucionFooter div i:hover {
    color: #769FCD;
}

footer .footer .distribucionFooter div p {
    font-family: "Quicksand", sans-serif;
    margin-left: 10%;
    color: white;
}